PRODUCT_NAME = $(TARGET_NAME)
IPHONEOS_DEPLOYMENT_TARGET = 9.3
TARGETED_DEVICE_FAMILY = 1,2
ENABLE_BITCODE = NO
CLANG_ENABLE_OBJC_ARC = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_C_LANGUAGE_STANDARD = gnu11
COPY_PHASE_STRIP = NO
HEADER_SEARCH_PATHS = $(inherited) "$(SRCROOT)" "$(SRCROOT)/**"
INFOPLIST_FILE = Resources/Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
